.register-container {
  max-width: 90%;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 12px;
  background-color: var(--cor-fundo);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  margin-top: 50px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 700;
  color: var(--cor-principal);
}

label {
  font-weight: normal !important;
  color: var(--cor-principal);
  font-size: 16px;
}

input { 
  padding: 10px 14px; 
  border: 1px solid #e2e8f0;
  border-radius: 6px;
  font-size: 16px;
  color: var(--cor-texto);
  background-color: #f9f9f9; 
  width: 100%; 
  transition: border-color 0.3s ease;
} 

input:focus {
  outline: none;
  border-color: var(--cor-principal);
  box-shadow: 0 0 0 3px rgba(247, 91, 109, 0.2);
}

button {
  background-color: var(--cor-principal);
  color: var(--cor-fundo);
  border: none;
  border-radius: 6px;
  padding: 12px;
  cursor: pointer;
  font-size: 18px;
  margin: 0 auto;
  width: 50%; 
  font-weight: 600;
  transition: background-color 0.3s ease;
  display: block;
}

button:hover {
  background-color: var(--cor-destaque);
}

/* Media Queries */
/* Estilos para telas menores (smartphones) */
@media (max-width: 480px) {
  .register-container {
    width: 90%;
    padding: 15px;
  }
  
  h2 {
    font-size: 20px;
  }

  input {
    font-size: 14px;
  }

  button {
    font-size: 16px;
    padding: 10px;
    width: 80%;
  }
}

/* Estilos para tablets */
@media (min-width: 481px) and (max-width: 768px) {
  .register-container {
    width: 90%;
    padding: 15px;
  }

  h2 {
    font-size: 24px;
  }

  button {
    width: 70%;
  }
}

/* Estilos para telas grandes */
@media (min-width: 769px) {
  .register-container {
    width: 400px;
  }

  h2 {
    font-size: 28px;
  }

  button {
    width: 50%;
  }
}