.dashboard-container {
  max-width: 800px; /* Largura máxima do container */
  margin: 20px auto; /* Centraliza o container */
  padding: 20px; /* Espaçamento interno */
  border-radius: 12px; /* Bordas arredondadas */
  background-color: var(--cor-fundo); /* Cor de fundo */
  box-shadow: 0 4px 20px rgba(0,0,0,0.5); 
  border: solid #D59F2C;
}

h1 {
  text-align: center; /* Centraliza o título principal */
  color: var(--cor-principal); /* Cor do título */
  font-size: 32px; /* Tamanho do título */
  margin-bottom: 20px; /* Margem abaixo do título */
}

h2 {
  text-align: left; /* Alinha o subtítulo à esquerda */
  color: var(--cor-texto); /* Cor do subtítulo */
  font-size: 24px; /* Tamanho do subtítulo */
  margin-top: 30px; /* Margem acima do subtítulo */
  margin-bottom: 10px; /* Margem abaixo do subtítulo */
}

.dashboard-actions {
  display: flex; /* Flexbox para alinhar botões */
  justify-content: space-between; /* Espaça os botões */
  margin-bottom: 20px; /* Margem abaixo das ações */
}

.add-product-button {
  background-color: var(--cor-principal); /* Cor de fundo do botão de adicionar */
  color: var(--cor-fundo); /* Cor do texto do botão */
  border: none; /* Remove borda */
  border-radius: 6px; /* Bordas arredondadas */
  padding: 10px 20px; /* Espaçamento interno do botão */
  cursor: pointer; /* Cursor pointer para indicar que é clicável */
  font-size: 18px; /* Tamanho do texto do botão */
  transition: background-color 0.3s ease; /* Transição suave para a cor de fundo */
}

.add-product-button:hover {
  background-color: var(--cor-destaque); /* Cor de fundo ao passar o mouse */
}

