:root {
  --cor-principal: #F75B6D;
  --cor-destaque: #DC1E45;
  --cor-fundo: #FAFAFA;
  --cor-texto: #41303C;
  --cor-secundaria: #D59F2C;
  --sombra: 0 2px 10px #D59F2C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif; 
}


